body {
  background-color: #333;
}

.component {
  background-color: #555;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #999;
}

/* .component {
    background-color: #555;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #999;
  } */

.component h1,
.component h2,
.component h3,
.component h4,
.component h5,
.component h6 {
  color: #ccc;
}

.component a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
